{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}
    <main>
        <h1>Vítejte na hlavní stránce</h1>
        {% if app.user %}
            <p>Jste přihlášen jako: {{ app.user.username }}</p>
        {% else %}
            <p>Nejste přihlášen.</p>
        {% endif %}
    </main>
{% endblock %}
