/* Hover efekt pro odkazy v navigaci */
.nav-link:hover {
    color: #111b47; /* Barva při hoveru */
}

/* Styl pro vyhledávací pole */
.search-bar {
    width: 75%; /* Zvětšení šířky */
}

body{
    background-color: black!important;
}
